* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-image: linear-gradient(#0f9b88, #fff);
  /* height: 100vh; */
}

/*
@media (max-width: 768px) {

}
*/
.header {
  background-color: #0f9b88;
}
.containerHeader {
  /* width: 90%; */
  margin: 0 auto;
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .containerHeader {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .containerHeader {
    padding: 0;
  }
  .themming {
    text-align: center;
  }
}

.logo {
  background-color: #0f9b88;
  width: fit-content;
  color: white;
}

.containerO {
  position: relative;
  padding: 0 1rem;
}
.encabezadoO {
  font-size: 4rem;
}
.containerS {
  position: absolute;
  top: 1.5rem;
  left: 2.2rem;
  font-size: 0.5rem;
}
.containerR {
  position: absolute;
  top: 2.4rem;
  left: 2.2rem;
  font-size: 1rem;
}
.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 480px) {
  .flexHeader,
  .search {
    flex-direction: column;
  }

  .containerLogin {
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }
  .basket {
    align-self: center;
  }
}
@media (max-width: 768px) {
  .containerLogin {
    flex-direction: column;
    align-items: flex-start;
    min-width: 7rem;
  }
  .logsUser {
    display: block;
  }
}

.barraAbout {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #036e60;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.barraA {
  padding: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}
.barraA:hover {
  background-color: #0f9b88;
  color: #fff;
}
@media (max-width: 480px) {
  .barraAbout {
    flex-direction: column;
    gap: 0;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputSearch {
  max-width: 300px;
  padding: 0.5rem;
}
.searchLabel {
  display: inline-block;
  color: #fff;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.login {
  display: flex;
  gap: 1rem;
}
@media (max-width: 768px) {
  .login {
    flex-direction: column;
    justify-content: center;
  }
}
/* .lupa {
  margin-left: -2rem;
} */
containerLogin .selecto {
  padding: 0.5rem;
}
/*------------------------------------------main----------------------------*/

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  background-image: linear-gradient(#0f9b88, #fff);
}
.containerLang {
  gap: 0.5rem;
}
.btnHeader {
  padding: 0.4rem;
  min-width: 40px;
}

.linkLogo {
  display: inline-block;
  text-decoration: none;
}
