.cart-item {
  margin-bottom: 5px;
}

.cart-item-price {
  text-align: right;
}

.payment-section {
  position: absolute;
  bottom: 10px;
  width: 93%;
}

.remove-item {
  position: absolute;
  top: -5px;
  right: 5px;
  cursor: pointer;
}
